.dino-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 40vw;
  height: 40vh;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1vmax;
}
