.site-layout-content {
    min-height: 550px;
    padding: 36px;
    font-weight: bold;
    font-size: large;
    background-image: url("dinomap.jpg");
}

.logo {
    float: right;
    width: 100px;
    height: 40px;
    font-size: large;
    font-weight: bold;
    margin: 16px 14px 10px 0;
    
}

.ant-row-rtl .logo {
    
    float: right;
    margin: 16px 0 16px 24px;
}

[data-theme="dark"] .site-layout-content {
    background: #852afd;
    
}
