.site-layout-content {
    min-height: 680px;
    padding: 29px;
    font-weight: bold;
    font-size: large;
    background: rgb(165, 233, 253);
}

.logo {
    float: left;
    width: 120px;
    height: 40px;
    font-size: large;
    font-weight: bold;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

[data-theme="dark"] .site-layout-content {
    background: #401775;
}
