@import "~antd/dist/antd.css";

body{
  background-image: url("background.png");
}

.login-form {
  max-width: 400px;
  max-height: 800px;
  margin-top: 300px;
  margin-bottom: 100px;
  margin-left: 100px;
  background-image: url("map.jpg");
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  margin-bottom: 40px;
  font-weight: 500;
  margin-left: 50px;
  font-size:large ;
  width: 100%;
  height: 40px;
}
